@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Titulo Principal';  /*Nome da fonte (Kdam Thmor Pro)*/
    src: url(Fonts/ktp/titulop.ttf) format(truetype);
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;}
.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;}
.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;}
.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;}
.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;}

:root{
    --coro: #061A40;    /* Oxford Blue*/
    --corp: #003559;   /* Prussian Blue*/
    --cors: #0353A4;  /* Sapphire (Cor principal)*/
    --corb: #006DAA; /* Bice Blue*/
    --corc: #B9D6F2;/* Columbia Blue*/
    --font-conteudo: 'Merriweather', serif;
    --font-titulo-principal: 'Titulo Principal', sans-serif;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}
body{
    background-color: #dbebfa;
    font-size: var(--font-conteudo);
    margin: 0px;
}
header {
    background-image: linear-gradient(0deg, var(--corp), var(--corb));
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.342);
}
#tc{
    text-align: center;
    margin: auto;
    font-family: var(--font-titulo-principal);
    color: var(--coro);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.274);
}
#pc{
    text-align: center;
    font-family: var(--font-padrao);
    color: var(--corc);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.274);
}
nav{
    color: white;
    font-family: var(--font-padrao);
    margin: 10px 10px 0px 10px;
    padding: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.274);
}
strong:hover{
    background-color: var(--corc);
    color: var(--cors);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    transition-duration: 0.5s;
}
main{
    font-family: var(--font-conteudo);
    border-radius: 10px;
    background-color: white;
    padding: 1px 10px 1px 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    text-indent: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.377)
}
.ap{
    font-size: 1.5em;
    background-image: linear-gradient(50deg, var(--corb), transparent);
    border-radius: 5px;
    color: var(--coro);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.274);
}
h2{
    font-size: 1.1em;
    background-image: linear-gradient(50deg, var(--corb), transparent);
    border-radius: 5px;
    color: var(--coro);
    margin: 2px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.274);
}
h3{
    font-size: 1em;
    padding: 3px;
    margin: 0px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.274);
}
#cpt2{
    margin: -2px;
    padding: 2px;
}
#curiosidade{
    background-color: var(--corc);
    border-radius: 10px;
    padding-left: 9px;
    padding-bottom: 1px;
    margin: 3px;
}
article aside p{
    margin: 5px;
}
#cp{
    display: inline;
    width: 15%;
    height: auto;
    position: absolute;
    top: 27.5%;
    right: 4%;
    margin: 4px 1px 4px 4px;
}
.cp{
    padding: 3px;
    font-size: 14.3px;
}
aside{
    background-color: var(--corc);
    border-radius: 4px;
    padding: 2px;
}
article{
    width: 80%;
}
img{
    display: block;
    margin: auto;
    max-width: 300px;
}
footer{
    text-align: center;
    background-color: var(--cors);
    color: var(--corc);
    margin: 2px;
}