@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
/*Telas grandes*/
@media screen and (min-width:901px) {
    header{
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        background-color: rgba(0, 17, 252, 0.644);
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.39);
    }
    img#logo{
        display: inline;
        height: 60px;
        width: 60px;
        margin: 3px 0px;
        padding: 0px;
        border-radius: 5px;
        }
    h1{
        display: inline;
        margin: 0px;
        color: white;
    }
    h2{
        margin: 2px;
    }
    .cont{
        text-align: center;
    }
    img{
        height: 250px;
        width: 250px;
        margin: 5px;
    }
    p{
        border: 1px solid rgb(180, 178, 178);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        height: 330px;
        width: 260px;
        margin: 10px;
        padding: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.26);
    }
    .bac{
        margin-top: 5px;
        margin-left: 1px;
        padding: 1px;
        border-radius: 5px;
        background-color: #d70101;
        color: white;
        cursor: pointer;
    }
    :hover.bac{
        background-color: rgb(151, 0, 0);
    }
    #mvm1, #mvm2, #mvm3, #fvm1, #fvm2, #fvm3{
        display: none;
        margin: auto;
    }
    #ivm1, #ivm2, #ivm3, #uvm1, #uvm2, #uvm3{
        display: none;
        margin: auto;
    }
    #bmvm1, #bfvm1, #bivm1, #buvm1{
        cursor: pointer;
        margin: 5px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    }
    #bmvm2, #bmvm3, #bfvm2, #bfvm3{
        display: none;
        margin: auto;
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    }
    #bivm2, #bivm3, #buvm2, #buvm3{
        display: none;
        margin: auto;
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    }
    #btopo{
        font-size: 7vh;
        width: 23px;
        text-decoration: none;
        color: rgb(255, 115, 0);;
    }
    #botaotopo{
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 30px;
        bottom: 30px;
        text-decoration: none;
        border: none;
        box-shadow: none;
    }
    #btopo:hover{
        padding-right: 5px;
        text-decoration: none;
        color: rgba(0, 17, 252, 0.596);
        border-radius: 50%;
    }
}
/*Telas médias*/
@media screen and (max-width:900px){
    header{
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        background-color: rgba(0, 17, 252, 0.644);
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.39);
    }
    img#logo{
        display: inline;
        height: 60px;
        width: 60px;
        margin: 3px 0px;
        padding: 0px;
        border-radius: 5px;
    }
    span{
        width: 100px;
        top: 60%;
        right: 0%;
        position: absolute;
    }
    h1{
        display: inline;
        margin: 0px;
        color: white;
    }
    h2{
        margin: 2px;
    }
    .cont{
        text-align: center;
    }
    img{
        height: 320px;
        width: 320px;
        margin: 5px;
    }
    p{
        border: 1px solid rgb(180, 178, 178);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        height: 400px;
        width: 330px;
        margin: 10px;
        padding: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.26);
    }
    .bac{
        margin-top: 5px;
        margin-left: 1px;
        padding: 1px;
        border-radius: 5px;
        background-color: #d70101;
        color: white;
        cursor: pointer;
    }
    :hover.bac{
        background-color: rgb(151, 0, 0);
    }
    @keyframes desaparecer {
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1s;
        }
    }
    #mvm1, #mvm2, #mvm3, #fvm1, #fvm2, #fvm3{
        display: none;
        margin: auto;
    }
    #ivm1, #ivm2, #ivm3, #uvm1, #uvm2, #uvm3{
        display: none;
        margin: auto;
    }
    #bmvm1, #bfvm1, #bivm1, #buvm1{
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    }
    #bmvm2, #bmvm3, #bfvm2, #bfvm3{
        display: none;
        margin: auto;
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    }
    #bivm2, #bivm3, #buvm2, #buvm3{
        display: none;
        margin: auto;
        cursor: pointer;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
    }
    #vm2, #vm3{
        display: none;
    }
    #btopo{
        font-size: 7vh;
        width: 23px;
        text-decoration: none;
        color: rgb(255, 115, 0);
    }
    #botaotopo{
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 30px;
        bottom: 30px;
        text-decoration: none;
        border: none;
        box-shadow: none;
    }
    #btopo:hover{
        padding-right: 5px;
        text-decoration: none;
        color: rgba(0, 17, 252, 0.596);
        border-radius: 50%;
    }
}
/*Telas pequenas*/
@media screen and (max-width:740px){
    img#logo{
        margin-left: 4px;
    }
    span{
        width: 100vw;
        position: relative;
    }
    h1{
        margin-left: 6px;
    }
    h2{
        margin: 2px;
    }
    .cont{
        text-align: center;
    }
    img{
        height: 300px;
        width: 300px;
        margin: 4px;
    }
    p{
        border: 1px solid rgb(180, 178, 178);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        height: 380px;
        width: 320px;
        margin: 10px;
        padding: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.26);
    }
    .bac{
        margin-top: 5px;
        margin-left: 3px;
        padding: 1px;
        border-radius: 5px;
        background-color: #d70101;
        color: white;
        cursor: pointer;
    }
    :hover.bac{
        background-color: rgb(151, 0, 0);
    }
    @keyframes desaparecer {
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1s;
        }
    }
    #vm1, #vm2, #vm3{
        display: none;
    }
    #mvm1, #mvm2, #mvm3, #fvm1, #fvm2, #fvm3{
        display: none;
        margin: auto;
    }
    #ivm1, #ivm2, #ivm3, #uvm1, #uvm2, #uvm3{
        display: none;
        margin: auto;
    }
    #bmvm1, #bfvm1, #bivm1, #buvm1{
        cursor: pointer;
        margin-bottom: 2px;
    }
    #bmvm2, #bmvm3, #bfvm2, #bfvm3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
    #bivm2, #bivm3, #buvm2, #buvm3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
}