*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
@media screen and (min-width:901px){
    header{
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        background-color: rgba(0, 17, 252, 0.644);
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.39);
    }
    img#logo{
        display: inline;
        height: 60px;
        width: 60px;
        margin: 3px 0px 0px 5px;
        padding: 0px;
        border-radius: 5px;
        }
    h1{
        display: inline;
        margin: 0px;
        color: white;
    }
    nav{
        background-color: rgba(0, 17, 252, 0);
        display: none;
    }
    #main, #x{
        width: 30px;
        top: 66%;
        right: 1%;
        position: absolute;
    }
    #main{
        background-color: rgba(0, 17, 252, 0);
        color: orange;
        text-align: center;
        display: block;
        cursor: pointer;
        border-radius: 5px;
    }
    #main:hover{
        color: rgb(37, 252, 55);
        border-radius: 5px;
    }
    #x{
        color: orange;
        text-align: center;
        display: none;
        cursor: pointer;
        border-radius: 5px;
        top: 35%;
    }
    #x:hover{
        color: #1ff802;
        border-radius: 5px;
    }
    #car{
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.521);
    }
    #modal{
        position: fixed;
        top: 18%;
        right:  8%;
        padding: 2px;
        max-height: 50vh;
        overflow-y: scroll;
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.521);
    }
    #modal::-webkit-scrollbar{
        background-color: rgba(0, 17, 252, 0);
        width: 10px;
    }
    #modal::-webkit-scrollbar-thumb{
        background-color: #3e81fb;
        border-radius: 10px;
    }
    #item img{
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
    }
    #qn{
        width: 45px;
        border-radius: 5px;
        margin-left: 4px;
    }
    .brm{
        padding: 0px 3px 0px 3px;
        background-color: red;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 4px;
    }
    .brm:hover{
        background-color: white;
        color: darkred;
    }
    #bfc{
        padding: 0px 3px 0px 3px;
        background-color: #07f843;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 4px;
        margin-bottom: 5px;
        border:  transparent;
        font-size: 1em;
    }
    #bfc:hover{
        background-color: #095309;
        color: rgb(85, 238, 98);
    }
    img#rs{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 70vw;
        height: 400px;
    }
    .cont{
        text-align: center;
    }
    img{
        height: 250px;
        width: 250px;
        margin: 5px;
    }
    .bac{
        margin-top: 5px;
        margin-left: 3px;
        padding: 1px;
        border-radius: 5px;
        background-color: #d70101;
        color: white;
        cursor: pointer;
    }
    :hover.bac{
        background-color: rgb(151, 0, 0);
    }
    .fade{
        animation-name: desaparecer;
        animation-duration: 1.5s;
    }
    @keyframes desaparecer {
        from{
            opacity: 0.5;
        }
        to{
            opacity: 1s;
        }
    }
    p{
        margin: auto;
        padding: 5px;
        text-indent: 2px;
        text-justify: auto;
        width: 800px;
    }
    p.produtos{
        border: 1px solid rgb(180, 178, 178);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        height: 350px;
        width: 260px;
        margin: 10px;
        padding: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.26);
    }
    #rb1, #rb2, #rb3, #dg1, #dg2, #dg3, #pr1, #pr2, #pr3, #dr1, #dr2, #dr3, #ah1, #ah2, #ah3, #pd1, #pd2, #pd3{
        display: none;
        margin: auto;
    }
    #oc1, #oc2, #oc3, #gc1, #gc2, #gc3, #cr1, #cr2, #cr3, #vg1, #vg2, #vg3, #mm1, #mm2, #mm3, #tf1, #tf2, #tf3{
        display: none;
        margin: auto;
    }
    #brb1, #bdg1, #bpr1, #dr1, #bah1, #boc1, #bgc1, #dr1, #pd1, #bvg1, #bmm1, #btf1{
        cursor: pointer;
        margin-bottom: 5px;
    } 
    #brb2, #brb3, #bdg2, #bdg3, #bpr2, #bpr3, #bdr2, #bdr3, #bah2, #bah3, #bpd2, #bpd3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
    #boc2, #boc3, #bgc2, #bgc3, #bcr2, #bcr3, #bvg2, #bvg3, #bmm2, #bmm3, #btf2, #btf3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
    #btopo{
        font-size: 7vh;
        width: 23px;
        text-decoration: none;
        color: rgb(255, 115, 0);;
    }
    #botaotopo{
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 30px;
        bottom: 30px;
        text-decoration: none;
    }
    #btopo:hover{
        padding-right: 5px;
        text-decoration: none;
        color: rgba(0, 17, 252, 0.596);
        border-radius: 50%;
    }
    footer{
        margin: 5px;
    }
}
@media screen and (max-width:900px){
    header{
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        background-color: rgba(0, 17, 252, 0.644);
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.39);
    }
    img#logo{
        display: inline;
        height: 60px;
        width: 60px;
        margin: 3px 0px;
        padding: 0px;
        border-radius: 5px;
    }
    #main, #x{
        width: 100px;
        top: 60%;
        right: 0%;
        position: absolute;
    }
    #x{
        top: 35%;
    }
    #modal{
        position: fixed;
        top: 15%;
        right:  8%;
        padding: 2px;
    }
    #item img{
        height: 10vw;
        width: 10vw;
    }
    #qn{
        width: 45px;
        border-radius: 5px;
        margin-left: 4px;
    }
    #brm{
        padding: 0px 3px 0px 3px;
        background-color: red;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 4px;
    }
    #bfc{
        padding: 0px 3px 0px 3px;
        background-color: #07f843;
        cursor: pointer;
        border-radius: 3px;
        margin-left: 4px;
    }
    h1{
        display: inline;
        margin: 0px;
        color: white;
    }
    .cont{
        text-align: center;
    }
    img#rs{
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 70vw;
        height: 350px;
    }
    img{
        height: 320px;
        width: 320px;
        margin: 5px;
    }
    p{
        margin: auto;
        padding: 5px;
        text-indent: 2px;
        text-justify: auto;
    }
    p.produtos{
        border: 1px solid rgb(180, 178, 178);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        height: 400px;
        width: 330px;
        margin: 10px;
        padding: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.26);
    }
    .bac{
        margin-top: 5px;
        margin-left: 3px;
        padding: 1px;
        border-radius: 5px;
        background-color: #d70101;
        color: white;
        cursor: pointer;
    }
    :hover.bac{
        background-color: rgb(151, 0, 0);
    }
    #rb1, #rb2, #rb3, #dg1, #dg2, #dg3, #pr1, #pr2, #pr3, #dr1, #dr2, #dr3, #ah1, #ah2, #ah3, #pd1, #pd2, #pd3{
        display: none;
        margin: auto;
    }
    #oc1, #oc2, #oc3, #gc1, #gc2, #gc3, #cr1, #cr2, #cr3, #vg1, #vg2, #vg3, #mm1, #mm2, #mm3, #tf1, #tf2, #tf3{
        display: none;
        margin: auto;
    }
    #brb1, #bdg1, #bpr1, #dr1, #bah1, #boc1, #bgc1, #dr1, #pd1, #bvg1, #bmm1, #btf1{
        cursor: pointer;
    }
    #brb2, #brb3, #bdg2, #bdg3, #bpr2, #bpr3, #bdr2, #bdr3, #bah2, #bah3, #bpd2, #bpd3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
    #boc2, #boc3, #bgc2, #bgc3, #bcr2, #bcr3, #bvg2, #bvg3, #bmm2, #bmm3, #btf2, #btf3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
    #vm2, #vm3{
        display: none;
    }
    #btopo{
        font-size: 7vh;
        width: 23px;
        text-decoration: none;
        color: rgb(255, 115, 0);
    }
    #botaotopo{
        background-color: transparent;
        width: 30px;
        height: 30px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 30px;
        bottom: 30px;
        text-decoration: none;
    }
    #btopo:hover{
        padding-right: 5px;
        text-decoration: none;
        color: rgba(0, 17, 252, 0.596);
        border-radius: 50%;
    }
}
@media screen and (max-width:750px){
    img#logo{
        margin-left: 5px;
    }
    #main, #x{
        width: 96vw;
        position: relative;
    }
    #modal{
        position: fixed;
        top: 19%;
        right:  8%;
        padding: 2px;
    }
    h2{
        margin: 2px;
    }
    .cont{
        text-align: center;
    }
    img{
        height: 300px;
        width: 300px;
        margin: 4px;
    }
    p.produtos{
        height: 380px;
        width: 320px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.26);
    }
    .bac{
        margin-top: 5px;
        margin-left: 3px;
        padding: 1px;
        border-radius: 5px;
        background-color: #d70101;
        color: white;
        cursor: pointer;
    }
    :hover.bac{
        background-color: rgb(151, 0, 0);
    }
    #vm1, #vm2, #vm3{
        display: none;
    }
    #rb1, #rb2, #rb3, #dg1, #dg2, #dg3, #pr1, #pr2, #pr3, #dr1, #dr2, #dr3, #ah1, #ah2, #ah3, #pd1, #pd2, #pd3{
        display: none;
        margin: auto;
    }
    #oc1, #oc2, #oc3, #gc1, #gc2, #gc3, #cr1, #cr2, #cr3, #vg1, #vg2, #vg3, #mm1, #mm2, #mm3, #tf1, #tf2, #tf3{
        display: none;
        margin: auto;
    }
    #brb1, #bdg1, #bpr1, #dr1, #bah1, #boc1, #bgc1, #dr1, #pd1, #bvg1, #bmm1, #btf1{
        cursor: pointer;
    }
    #brb2, #brb3, #bdg2, #bdg3, #bpr2, #bpr3, #bdr2, #bdr3, #bah2, #bah3, #bpd2, #bpd3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
    #boc2, #boc3, #bgc2, #bgc3, #bcr2, #bcr3, #bvg2, #bvg3, #bmm2, #bmm3, #btf2, #btf3{
        display: none;
        margin: auto;
        cursor: pointer;
    }
}