@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 901px){
body{
    max-width: 1000px;
    margin: auto;
}
header{
    margin-bottom: 10px;
    background-color: rgba(0, 17, 252, 0.644);
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.39);
}
nav{
    background-color: rgba(0, 17, 252, 0);
    display: none;
}
#main, #x{
    width: 30px;
    top: 22%;
    right: 5%;
    position: absolute;
}
#main{
    background-color: rgba(0, 17, 252, 0);
    color: orange;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}
#main:hover{
    color: rgb(37, 252, 55);
    border-radius: 5px;
}
#x{
    color: orange;
    text-align: center;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}
#x:hover{
    color: #1ff802;
    border-radius: 5px;
}
#car{
    color: #0011fca4;
    cursor: pointer;
    position: fixed;
    left:  92%;
    background-color: #00ccff6c;
    border-radius: 50%;
    padding: 5px;
}
#modal{
    display: none;
    background-color: rgba(255, 166, 0, 0.900);
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 30%;
    right:  8%;
    padding: 2px;
}
#bfc{
    padding: 0px 3px 0px 3px;
    background-color: #07f843;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 4px;
    margin-bottom: 3px;
    border: transparent;
    box-shadow: inset -2px -2px 1px #00000057;
}
nav{
    background-color: rgba(0, 17, 252, 0);
    text-align: center;
    font-size: 1.3em;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}
img#logo{
    display: inline;
    height: 150px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
}
h1{
    display: inline;
    margin-left: 20vw;
    font-size: 2em;
    margin-bottom: 5px;
    color: white;
}
a.mi{
    margin: 30px;
    text-decoration: none;
    color: white;
}
.mi:hover{
    background-color: rgb(2, 20, 1);
    color: orange;
    padding: 8px;
    border-radius: 5px;
    font-size: 1.1em;
    transition-duration: 0.5s;
}
h2{
    text-align: center;
    background-image: linear-gradient(50deg, rgba(0, 17, 252, 0.596), rgba(255, 136, 0, 0.596));
    color: rgb(253, 249, 249);
    border-radius: 5px;
}
h3, p{
    text-align: center;
}
img#oferta{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 70vw;
}
div#cs, div#cs2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
div.ci img, div.ci2 img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27vw;
    margin: 3px;
}
.img, .img2{
    border-radius: 10px;
    opacity: 0.1;
    transition: opacity 0.2s;
    height: 200px;
}
.on, .on2{
    opacity: 1;
    height: 250px;
}
h4{
    color: rgb(209, 2, 2);
    text-align: center;
}
#pag{
    width: 700px;
    display: block;
    margin: auto;
}
#links{
    text-align: center;
}
#face{
    width: 51px;
    border-radius: 10px;
}
#insta{
    width: 53.5px;
    border-radius: 10px;
}
#whats{
    width: 51.3px;
    border-radius: 10px;
}
#gmail{
    height: 57px;
    border-radius: 10px;
}
button#ar , button#al, button#ar2 , button#al2{
    margin: 5px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
button#ar img, button#al img, button#ar2 img, button#al2 img{
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    color: orangered;
    text-align: center;
    padding: 3px;
}
}
@media screen and (max-width:900px){
header{
    background-color: rgba(0, 17, 252, 0.644);
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.39);
    position: sticky;
}
#main, #x{
    width: 100px;
    top: 78%;
    right: 0%;
    position: absolute;
}
#x{
    top: 65%;
}
#main{
    background-color: rgba(0, 17, 252, 0);
    color: orange;
    display: block;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}
#main:hover{
    color: rgb(37, 252, 55);
    border-radius: 5px;
}
#x{
    background-color: rgba(0, 17, 252, 0);
    color: orange;
    display: block;
    text-align: center;
    display: none;
    cursor: pointer;
    border-radius: 5px;
}
#x:hover{
    color: #1ff802;
    border-radius: 5px;
}
#car{
    color: rgba(0, 17, 252, 0.644);
    cursor: pointer;
    position: fixed;
    left:  92%;
    background-color: rgba(0, 204, 255, 0.425);
    border-radius: 50%;
    padding: 5px;
}
#car:hover{
    color: orange;
    background-color: rgba(0, 17, 252, 0.644);
}
#modal{
    display: none;
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 28%;
    right:  8%;
    padding: 2px;
}
#bfc{
    padding: 0px 3px 0px 3px;
    background-color: #07f843;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 4px;
    margin-bottom: 3px;
    border: transparent;
    box-shadow: inset -2px -2px 1px #00000057;
}
.fade{
    animation-name: desaparecer;
    animation-duration: 1.5s;
}
@keyframes desaparecer {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1s;
    }
}
nav{
    background-color: rgba(0, 17, 252, 0);
    text-align: center;
    font-size: 1.1em;
    margin: 5px;
    margin-top: 0px;
    display: none;
    padding: 5px;
    border-radius: 5px;
}
img#logo{
    display: inline;
    height: 130px;
    margin: 3px 0px 0px 5px;
    border-radius: 5px;
}
h1{
    display: inline;
    margin-left: 10vw;
    color: white;
    margin-left: 7px;
}
a.mi{
    margin: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.mi:hover{
    background-color: rgba(0, 0, 0, 0.836);
    color: orange;
    padding: 5px;
    font-size: 1.1em;
    border-radius: 15px;
    transition: 0.5s;
}
h2{
    text-align: center;
    background-image: linear-gradient(50deg, rgba(0, 17, 252, 0.596), rgba(255, 136, 0, 0.596));
    color: rgb(253, 249, 249);
    border-radius: 5px;
}
h3, p{
    text-align: center;
}
img#oferta{
    display: block;
    margin: auto;
    width: 70vw;
    margin-top: 5px;
}
div#cs, div#cs2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
div.ci img, div.ci2 img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    margin: 2px;
}
.img, .img2{
    border-radius: 10px;
    opacity: 0.1;
    transition: opacity 0.2s;
    height: 200px;
}
.on, .on2{
    opacity: 1;
    height: 250px;
}
h4{
    color: rgb(209, 2, 2);
    text-align: center;
}
#pag{
    width: 80vw;
    display: block;
    margin: auto;
}
#links{
    text-align: center;
}
#face{
    width: 51px;
    border-radius: 10px;
}
#insta{
    width: 53.5px;
    border-radius: 10px;
}
#whats{
    width: 51.3px;
    border-radius: 10px;
}
#gmail{
    height: 57px;
    border-radius: 10px;
}
button#ar , button#al, button#ar2 , button#al2{
    margin: 5px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
button#ar img, button#al img, button#ar2 img, button#al2 img{
    width: 100%;
    height: 100%;
}
footer{
    background-color: black;
    color: orangered;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}
}
@media screen and (max-width:751px){
    img#logo{
        display: inline;
        height: 120px;
    }
    #modal{
        position: fixed;
        top: 19%;
        right:  8%;
        padding: 2px;
    }
    h1{
        display: inline;
    }
    a.mi{
        margin: 10px;
        text-decoration: none;
    }
    div#cs, div#cs2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
    div.ci, div.ci2{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
    }
    .img, .img2{
        border-radius: 10px;
        opacity: 0.1;
        transition: opacity 0.2s;
        height: 100px;
    }
    .on, .on2{
        opacity: 1;
        height: 150px;
    }
    button#ar , button#al, button#ar2 , button#al2{
        margin: 5px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
@media screen and (max-width:750px){
    img#logo{
        display: inline;
        height: 95px;
    }
    #main, #x{
        width: 100vw;
        position: relative;
    }
    #modal{
        position: fixed;
        top: 26%;
        right:  8%;
        padding: 2px;
    }
    h1{
        display: inline;
        margin-left: 2vw;
    }
    a.mi{
        margin: 0px;
        text-decoration: none;
    }
    .mi{
        display: block;
    }
    div#cs, div#cs2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    div.ci, div.ci2{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img, .img2{
        position: absolute;
        opacity: 0;
        width: 300px;
    }
    .on, .on2{
        opacity: 1;
        height: 200px;
        display: block;
        transition: opacity 0.2s;
        border-radius: 10px;
        height: 250px;
        width: 250px;
        align-items: center;
        position: absolute;
    }
    button#ar, button#ar2 {
        margin: 2px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        left: 40%;
    }
    button#al, button#al2 {
        margin: 2px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        right: 40%;
    }
    button#ar img, button#al img{
        width: 100%;
        height: 100%;
    }
    #face, #insta, #whats{
        height: 40px;
        width: 40px;
        margin-left: 15px;
    }
    #gmail{
        height: 40px;
        width: 50px;
        margin-left: 15px;
    }
}